PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/tvm_school_erp
SESSION_SECRET=super_secret_tvm_erp_session_key_2026

# SMTP Server details for Email Authentication / OTP (optional)
# If empty, OTPs will be printed to the server terminal console for easy testing.
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=
SMTP_PASS=
SMTP_FROM=noreply@tvmpublicschool.com

# Stripe Keys (Simulated Payment mode is active if these are left blank)
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

# Razorpay Keys (Simulated Payment mode is active if these are left blank)
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

NODE_ENV=development
